### JetBrains template

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/encodings.xml

# Gradle:
*.iml

# IntelliJ
out/

### Gradle template

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
